.carousel {
  height: 500px;
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  overflow-x: scroll;
  scroll-snap-type: x mandatory;
  scroll-behavior: smooth;
  position: relative;
  z-index: 100;
  background-color: transparent;
}

.carousel img{
  width: 100%;
  scroll-snap-align: center;
  margin-left:500px;
  border-style: solid;
  border-color: rgba(200,200,200,0.6);
  border-radius: 20px;
}